{% autoescape off %}
Hello {{ user.get_full_name }},

You're receiving this email because you requested a password reset for your meatmart account.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.email }}

Thanks for using meatmart!

Best regards,
The meatmart Team

If you didn't request this password reset, you can safely ignore this email.
{% endautoescape %}
